@import "variables.scss";
@import "component.scss";
@import "effect.scss";

@font-face {
  font-family: "Aaargh";
  src: url("../../Police_aaargh/Aaargh.eot") format("eot");
  src: url("../../Police_aaargh/Aaargh.eot?#iefix") format("embedded-opentype"),
    url("../../Police_aaargh/Aaargh.woff") format("woff"),
    url("../../Police_aaargh/Aaargh.svg") format("svg"),
    url("../../Police_aaargh/Aaargh.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Walkway";
  src: url("../../Police_walkway/Walkway_SemiBold-webfont.eot") format("eot");
  src: url("../../Police_walkway/Walkway_SemiBold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../Police_walkway/Walkway_SemiBold-webfont.woff") format("woff"),
    url("../../Police_walkway/Walkway_SemiBold-webfont.svg") format("svg"),
    url("../../Police_walkway/Walkway_SemiBold-webfont.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Walkway_bold";
  src: url("../../Police_walkway/Walkway_UltraBold-webfont.eot") format("eot");
  src: url("../../Police_walkway/Walkway_UltraBold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../Police_walkway/Walkway_UltraBold-webfont.woff") format("woff"),
    url("../../Police_walkway/Walkway_UltraBold-webfont.svg") format("svg"),
    url("../../Police_walkway/Walkway_UltraBold-webfont.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: "Walkway", "Segoe UI";
  width: 100%;
  height: 100%;

  margin-left: 0px;
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 0px;

  background: url("../Images/fond_container1bis.png") scroll no-repeat;
  background-position: top right;
  background-size: 900px;
}
em {
  font-style: normal;
  color: $color-accent;
}
strong {
  font-weight: bold;
}

.text_bold {
  font-family: "Walkway_bold";
  &--modif {
    font-size: 18px;
  }
}

/*div, section
{
    border: 3px solid green;
    background-color: lightgreen;
}*/

/*--------INTRODUCTION-----*/

.header, .intro,{
  padding-left: 50px;
}

.container__back {
  &--team {
    background: url("../Images/fond_equipe.png") scroll no-repeat;
    background-position: top right;
    background-size: 905px;
    /*@include background(equipe);*/
  }
  &--real {
    background: url("../Images/fond_real.png") scroll no-repeat;
    background-position: top right;
    background-size: 1100px 650px;
    /*@include background(real);*/
  }
}

.container {
  & .intro {
    margin-top: 80px;
    &__title {
      width: 500px;
      font-size: map-get($font-size, introduction);
      color: $color-primary;
    }
    &__presentation {
      margin-top: 46px;
      margin-bottom: 64px;
      width: 600px;
      font-size: map-get($font-size, text);
      color: $color-tertiary;
      line-height: 30px;
    }
    &__social {
      display: flex;
      flex-direction: row;
      margin-top: 60px;

      & img {
        width: 50px;
        margin-right: 10px;
      }
    }
  }
}

.header {
  display: flex;
  align-items: center;

  &__logo {
    width: 250px;
  }
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: map-get($font-size, menu);
    margin-left: 17.5%;
    height: 150px;
    width: 70%;
  }
  /*&__gradient {
    background: transparent
      linear-gradient(180deg, rgba(#000000, 0.75) 0%, rgba(#54545400, 0) 100%)
      0% 0% no-repeat padding-box;

    border: 1px rgba($color: #000000, $alpha: 0);
    border-radius: 0px 0px 0px 150px;
  }*/
}

.arrow {
  position: relative;
  bottom: 40px;
  left: 45%;
  width: 30px;
  z-index: 10;
  &__modif {
    left: 90%;
    bottom: 120px;
    &--2 {
      left: 90%;
      bottom: 170px;
    }
  }
}

/*-------NOTRE EQUIPE------*/

.our_team {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  align-items: center;
  padding-top: 20px;

  & .team_patacom {
    width: 70%;
    margin-right: 30px;
  }
  &__presentation {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    &--text {
      padding-right: 10px;
      font-size: map-get($font-size, text);
      color: $color-tertiary;
      margin-bottom: 40px;

      & h2 {
        font-size: map-get($font-size, title);
        color: $color-primary;
      }
      & p {
        line-height: 30px;
        padding-right: 50px;
      }
    }
  }
}

/*-------NOS SERVICES------*/
/*#nos_services
{
  background: url(../../../../../rectangle.svg) no-repeat;
}*/

.our_services,
.nos_realisations {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  z-index: 1;

  &__list {
    position: relative;
    top: 0px;

    & h2 {
      text-align: center;
      margin-top: 50px;
      font-size: map-get($font-size, title);
      color: $color-primary;
    }

    &--picture {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-right: 230px;
      margin-left: 230px;

      & img {
        width: 250px;
        height: 250px;
      }
    }
    & p {
      position: relative;
      top: -160px;
      text-align: center;
      z-index: 2;
      font-size: map-get($font-size, etiquette);
     /* color: $color-secondary;*/
      font-family: "Walkway_bold";
      text-shadow: 0px 0px 6px $color-primary;
      a{
        text-decoration: none;
        color: $color-secondary;
      }
    }
  }
  &__listes2 {
    margin-right: 100px;
    margin-left: 100px;
    z-index: 3;
    & h2 {
      text-align: center;
      margin-bottom: 75px;
      font-size: map-get($font-size, title);
      color: $color-primary;
    }
    &--images {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & img {
        width: 250px;
        height: 230px;
      }
      & .equipe {
        text-align: center;
        font-size: map-get($font-size, menu);
        width: 250px;
      }
    }
  }
  &__listes3 {
    margin-right: 200px;
    margin-left: 200px;

    &--images {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 30px;
      margin-top: 10px;

      & .real {
        text-align: center;
        font-size: map-get($font-size, menu);
        width: 200px;
        a {
          font-size: map-get($font-size, etiquette);
          text-transform: none;
          text-decoration: none;
          color: $color-accent;
        }
      }
      & img {
        width: 60%;
      }
    }
  }

  &__listes4 {
    margin-top: 30px;
    z-index: 5;
    &--images {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 50%;
      align-items: center;

      & img {
        width: 200px;
        height: 200px;
      }

      & .service_defilant p {
        position: relative;
        top: -145px;
        text-align: center;
        z-index: 2;
        font-size: map-get($font-size, etiquette);
        color: $color-secondary;
        font-family: "Walkway_bold";
        text-shadow: 0px 0px 6px $color-primary;
        a {
          text-transform: none;
          text-decoration: none;
          color: $color-secondary;
        }
      }
    }
  }

  &__shapes {
    height: 0px;
  } 
}
.rectangle {
  width: 100%;
  height: 800px;
  background-color: rgba($color-accent, 0.4);

  position: relative;
  z-index: -1;
}
.ovale {
  width: 150%;
  height: 700px;
  background: $color-secondary;
  -webkit-border-radius: 1000px / 350px;
  -moz-border-radius: 1000px / 350px;
  -o-border-radius: 1000px / 350px;
  border-radius: 1000px / 350px;
  position: relative;
  top: -450px;
  left: -24%;
  text-align: center;
  z-index: 0;
}

/*-------CONTACT------*/

.contact_us {
  padding-left: 100px;

  & h2 {
    font-size: map-get($font-size, title);
    color: $color-primary;
  }
  &__form {
    margin-top: 60px;
    background-color: rgba($color: $color-accent, $alpha: 0.9);
    border: rgba($color: #000000, $alpha: 0);
    border-radius: 30px;
    width: 350px;
    height: 500px;
    padding-top: 20px;
    text-align: center;
    z-index: 3;
    & .input_1 {
      border-radius: 3px;
      margin-top: 5px;
      border: rgba($color: #000000, $alpha: 0);
      height: 40px;
      width: 250px;
    }
    & .input_2 {
      color: $color-secondary;
      margin-right: 40px;
      cursor: pointer;
    }
    [type="checkbox"] {
      cursor: pointer;
    }
    textarea {
      border-radius: 3px;
      margin-top: 10px;
      border: rgba($color: #000000, $alpha: 0);
      width: 250px;
      padding-top: 10px;
    }
  }
}


.map_google{
  height: 0px;
  .map {
    width: 100%;
    height: 460px;
    position: relative;
    top: -260px;

    z-index: -1;
  }
}

  .contact__shapes {
    position: relative;
    bottom: 250px;
    left: 50%;
    
    display: flex;
 
    justify-content: space-around;

    width: 450px;
    height: 200px;

    background-color: $color-secondary;

    align-items: center;

    border-radius: 30px;
    box-shadow: 0px 2px 6px rgba($color: $color-primary, $alpha: 0.4);
    font-size: map-get($font-size, footer);

    & img {
      width: 150px;
    }
    .triangle::after {
      content: "";
      position: absolute;
  
      left: 50px;
      top:200px;
  
      border: 2em solid rgba($color: $color-primary, $alpha: 0.3);
      border-color: transparent transparent $color-secondary $color-secondary;
  
      transform-origin: 0 0;
      transform: rotate(-45deg);
  
      box-shadow: -3px 3px 3px 0 rgba($color-primary, 0.3);
    }
  }

/*-------FOOTER------*/
.back_anime {
  height: 0px;
}
.footer {
  display: flex;
  justify-content: space-around;
  background: url(../Images/vague.png) scroll no-repeat;
  background-size: cover;

  color: $color-secondary;
  font-size: map-get($font-size, footer);
  align-items: center;

  height: 180px;
  padding-top: 100px;
  position: relative;
  bottom: -80px;

  &__logo img {
    width: 250px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    line-height: 25px;
  }

}
.logo_social {

    width: 30px;
}

.service_intro {
  width: 21%;
  position: absolute;
  top: 50%;
  left: 60%;

  font-size: map-get($font-size, introduction);
}

.allbloc {
  display: none;
  position: absolute;
  left: 55%;
  top: 100px;
  width: 500px;

  & .contenu {
    margin-top: 23%;
    background-color: rgba($color: $color-secondary, $alpha: 1);
    border: 1px solid $color-secondary;
    border-radius: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    line-height: 20px;
    text-align: center;
    ul {
      margin-bottom: 50px;
      margin-top: 60px;
      li {
        width: 80%;
        margin-bottom: 30px;
        text-align: left;
      }
    }
    h2 {
      font-size: map-get($font-size, etiquette);
    }
  }
}
