$color-primary:black;
$color-secondary:white;
$color-tertiary: rgba($color-primary, 0.6);
$color-quaternary: whitesmoke;
$color-accent:#E57041;

$font-size: (menu:20px, introduction:40px, title:40px, text:22px, etiquette:25px, footer:15px);

/*$background: (
  homepage: (
    bg: url("../Images/fond_container1.png") scroll no-repeat,
    bgs: 900px,
  ),
  equipe: ( 
    bg: url("../Images/fond_equipe.png") scroll no-repeat,
    bgs: 905px,
  ), 
  real: (  
    bg: url("../Images/fond_real.png") scroll no-repeat,
    bgs: 1100px 650px,
  )
);

@mixin background($page) 
{  
  $fond: map-get($background, $page);

  background-position: top right;
  background: map-get($fond, bg);
  background-size: map-get($fond, bgs);
}*/

@mixin pseudo-pos 
{
    content: ""; /* Si non ne marche pas*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}

@-webkit-keyframes opacityincrease {
    from { opacity: 0.1; }
    to { opacity: 1; }
    }

@-webkit-keyframes waveanim {
    0%,100% {
            
        d:path('M0,256L26.7,229.3C53.3,203,107,149,160,144C213.3,139,267,181,320,186.7C373.3,192,427,160,480,160C533.3,160,587,192,640,208C693.3,224,747,224,800,208C853.3,192,907,160,960,165.3C1013.3,171,1067,213,1120,213.3C1173.3,213,1227,171,1280,144C1333.3,117,1387,107,1413,101.3L1440,96L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z'); 
        animation-timing-function: ease-in-out;
        }
    
    25% {
            
        d:path('M0,96L26.7,85.3C53.3,75,107,53,160,85.3C213.3,117,267,203,320,208C373.3,213,427,139,480,138.7C533.3,139,587,213,640,218.7C693.3,224,747,160,800,112C853.3,64,907,32,960,26.7C1013.3,21,1067,43,1120,69.3C1173.3,96,1227,128,1280,160C1333.3,192,1387,224,1413,240L1440,256L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z');
        animation-timing-function: ease-in-out;
        }
    
    50% {
            
        d:path('M0,256L26.7,229.3C53.3,203,107,149,160,144C213.3,139,267,181,320,186.7C373.3,192,427,160,480,160C533.3,160,587,192,640,208C693.3,224,747,224,800,208C853.3,192,907,160,960,165.3C1013.3,171,1067,213,1120,213.3C1173.3,213,1227,171,1280,144C1333.3,117,1387,107,1413,101.3L1440,96L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z'); 
        animation-timing-function: ease-in-out;  
        }
    
    75% {
            
        d:path("M0,256L26.7,218.7C53.3,181,107,107,160,64C213.3,21,267,11,320,16C373.3,21,427,43,480,48C533.3,53,587,43,640,58.7C693.3,75,747,117,800,149.3C853.3,181,907,203,960,186.7C1013.3,171,1067,117,1120,117.3C1173.3,117,1227,171,1280,213.3C1333.3,256,1387,288,1413,304L1440,320L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z");
        animation-timing-function: ease-in-out;
        }
    /* 100% {
        fill:green;
        d:path("M0,32L48,26.7C96,21,192,11,288,48C384,85,480,171,576,170.7C672,171,768,85,864,53.3C960,21,1056,43,1152,85.3C1248,128,1344,192,1392,224L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"); 
        animation-timing-function: ease-in-out;
        }*/
    }